body {
  color: white;
  background-color: #141414;
}
main {
  overflow-x: clip;
  overflow-y: visible;
}

/*NAVBAR*/
nav .container-fluid {
  background-color: #141414;
}

nav i {
  color: #a3a3a3;
}

nav i:hover {
  color: rgb(189, 189, 189);
}

.navbar-brand img {
  width: 100px;
}
.nav-item a img {
  width: 50px;
}

nav .container-fluid {
  position: relative;
  padding: 0 3%;
}

.right_nav {
  display: flex;
  position: absolute;
  right: 2%;
  top: 0;
  align-items: center;
}

.right_nav .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_nav .navbar-nav .nav-item {
  margin: 0 6px;
}

.searchMovies {
  position: absolute;
  top: 22%;
  right: 100%;
  background-color: black;
  color: white;
  border: none;
  width: 0;
  transition: all 1s 0.2s;
  padding: 0;
}
@media screen and (max-width: 540px) {
  .searchMovies {
    top: 85%;
    right: 86%;
  }
}
.muoviBarra:hover .searchMovies {
  width: 88%;
}

.searchMovies:focus {
  width: 88%;
}

.right_nav .navbar-nav .dropdown .dropdown-menu {
  position: absolute;
  left: -125%;
}

.dropdown-menu {
  background-color: #141414;
  & a {
    color: #879d9e;
  }
}

/*BARRA DI SELEZIONE*/

#tv {
  height: 28px;
}

#select {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
}

#box1 {
  display: flex;
  align-items: center;
  & h2 {
    margin-right: 2rem;
  }
  & select {
    background-color: black;
    color: white;
  }
}

select #box2 {
  display: flex;
  align-items: center;
}
#box2 {
  display: flex;
}
#box2 i {
  padding: 5px 12px;
  border: 1px solid white;
  color: #ffffff;
}

#box2 button {
  padding: 0;
  border: none;
  background-color: transparent;
}

/*CAROSELLO*/

.carousel.slide {
  margin-top: 3rem;
  opacity: 0;
  transition: all 2.5s;
}

/*classi applicate con javascript*/

.carousel.slide.opaci {
  opacity: 1;
}

.carousel.slide.opaci.visual {
  display: block;
}

.carousel.slide.opaci.no_visual {
  display: none;
}

/*fine classi javascript*/

.row {
  flex-wrap: nowrap;
}
.row.wrap {
  flex-wrap: wrap;
}

.carousel-item .container-fluid .row .card .col-md-2 img {
  width: 100%;
}

.carousel {
  margin: 0 2%;
}
.carousel h3 {
  margin-left: 1%;
}

.carousel-inner {
  overflow: visible;
  position: relative;
  transition: all 1.5s;
}

.card {
  border: none;
  border-radius: 0;
  overflow: hidden;
}
.card img {
  transition: all 0.8s;
}
.card img:hover {
  transform: scale(1.2);
  z-index: 3;
}

.carousel-control-prev {
  display: none;
  z-index: 4;
  background-color: black;
  height: 73%;
  width: 3.3%;
  top: 27%;
  left: -2.7%;
}
.carousel-control-prev.visual {
  display: block;
}

.carousel-control-next {
  z-index: 4;
  background-color: black;
  height: 73%;
  width: 3.3%;
  top: 27%;
  right: -2.7%;
}

/*FOOTER*/

footer {
  margin-top: 6%;
}
footer i {
  color: #808080;
  font-size: 2em;
  margin-right: 20px;
  transition: all 0.2s;
}
footer i:hover {
  color: rgb(189, 189, 189);
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: #808080;
  margin-top: 1rem;
  transition: all 0.2s;
  font-size: 0.9em;
}

footer a:hover {
  color: rgb(189, 189, 189);
}

footer button {
  background-color: transparent;
  border: 1px solid #808080;
  margin-bottom: 1.5em;
}
footer button a {
  margin: 0;
}

footer p {
  color: #808080;
  font-size: 0.75em;
}
